* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

colors {
  color: #26100f;
  color: #ffcc63;
}

/* ROOT */

body {
  margin: 0 15px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

main {
  display: flex;
}

/* HEADER */

#logo {
  width: 330px;
  margin: 30px;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  gap: 30px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #26100f;
  width: 100%;
  border-top: 1px solid #26100f;
  border-bottom: 1px solid #26100f;
  padding: 10px;
}

nav > div:hover {
  cursor: pointer;
  color: #ffcc63;
}

/* Sidebar */

aside {
  width: 300px;
}

#headshot {
  width: 200px;
}

/* About */
#about-text > p {
  margin: 10px 0;
}

.post-text {
  white-space: pre-wrap;
  margin-bottom: 20px;
  border-bottom: 1px solid red;
}

textarea {
  padding: 10px;
}

.ql-container {
  min-height: 300px;
  width: 1200px;
}
